:root{
    --verde-claro: rgb(193, 219, 110);
    --verde-escuro: rgb(1, 95, 65);
    --branco: rgb(249, 251, 250);
    --cinza-fonte: rgb(29, 56, 61);
    --fundo-icon: rgb(235, 243, 230);
    --borda: rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: url(./imagens/background.png);
    background-size: cover;
}

#top-bar{
    text-align: center;
    padding: 1rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

#top-bar img{
    width: 9rem;
}

#boas-vindas{
    padding-top: 1.5rem;
    padding-left: 4.5rem;
}

#boas-vindas > div,
#boas-vindas > img {
    display: inline-block;
    vertical-align: top;
}

#boas-vindas h1{
    color: var(--branco);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3;
}

#boas-vindas h1 span{
    color: var(--verde-claro);
    font-weight: 700;
    font-size: 3rem;
}

#boas-vindas p{
    color: var(--branco);
    border-left: 3px solid var(--verde-claro);
    padding-left: 1rem;
}

#figure{
    width: 35rem;
    padding-left: 30rem;
}

#cuidar-image{
    height: 10rem;
    padding: 2rem 0 0 7rem;
}

main{
    position: relative;
    top: -1.5rem;
    margin: 0 3rem;
    border: 1px solid var(--borda);
    border-radius: 1rem;
    background-color: var(--branco);
}

#busca-sistema-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#busca-sistemas{
    padding: 0.5rem 1rem;
    border: 1px solid var(--borda);
    border-radius: 3rem;
    box-shadow: 0 2px 5px var(--borda);
    display: flex;
    align-items: center;
}

#lupa-icon{
    width: 1rem;
    margin-right: 0.5rem;
}

#busca-input{
    border: none;
    outline: none;
    width: 25rem;
}

#systems{
    display: grid;
    grid-template-columns: 11rem 11rem 11rem 11rem 11rem 11rem 11rem;
    gap: 1.5rem 3rem;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--cinza-fonte);
}

a:visited{
    color: var(--cinza-fonte);
}

.system-icon{
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--borda);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px var(--borda);
    padding: 0.8rem 0;
}

.system-icon img{
    height: 2rem;
    background-color: var(--fundo-icon);
    padding: 1rem;
    border-radius: 1rem;
}