:root{
    --verde-claro: rgb(193, 219, 110);
    --verde-escuro: rgb(1, 95, 65);
    --branco: rgb(249, 251, 250);
    --cinza-fonte: rgb(29, 56, 61);
    --fundo-icon: rgb(235, 243, 230);
    --borda: rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: url(./imagens/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#top-bar{
    text-align: center;
    padding: 1rem 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

#top-bar img{
    width: 10vw;
    max-width: 9rem;
    vertical-align: middle;
}

#boas-vindas {
    display: flex;
    align-items: flex-end;
    padding: 2rem 0 0 4.5vw;
}

#texto {
    flex: 1;
    min-width: min(26rem, 100%);
    padding-bottom: 3.5rem;
}

#texto h1{
    color: var(--branco);
    font-weight: 400;
    font-size: clamp(0.8rem, 2vw, 2rem);
    line-height: 1.3;
}

#texto h1 span{
    color: var(--verde-claro);
    font-weight: 700;
    font-size: clamp(1.18rem, 4vw, 3rem);
    margin-left: -0.05rem;
}

#texto p{
    color: var(--branco);
    border-left: 3px solid var(--verde-claro);
    padding-left: 1vw;
    font-size: clamp(0.7rem, 1vw, 1rem);
}

#imagens{
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-right: 3vw;
}

#figure {
    width: 35vw;
    max-width: 550px;
    height: auto;
}

#cuidar-image {
    width: 15vw;
    max-width: 180px;
    height: auto;
    align-self: center;
    margin-bottom: 2rem;
}

main{
    position: relative;
    top: -1.5rem;
    margin: 0 3rem;
    border: 1px solid var(--borda);
    border-radius: 1rem;
    background-color: var(--branco);
    flex: 1;
}

#busca-sistema-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#busca-sistemas{
    padding: 0.5rem 1rem;
    border: 1px solid var(--borda);
    border-radius: 3rem;
    box-shadow: 0 2px 5px var(--borda);
    display: flex;
    align-items: center;
    width: 50vw;
    max-width: 35rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

#busca-sistemas:focus-within {
    box-shadow: 0 0 2px 1px var(--verde-escuro); /* Cria um brilho suave em volta */
    background-color: #fff;
}

#lupa-icon{
    width: 1rem;
    margin-right: 0.5rem;
}

#busca-input{
    border: none;
    outline: none;
    width: 100%;
}  

#systems{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 1.5rem 3rem;
    padding-inline: 4rem;
    margin-bottom: 2rem;
    list-style: none;
}

.system-icon{
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--cinza-fonte);
    padding: 0.8rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 1.5px var(--borda);
    transition-duration: 0.3s;
	transition-property: box-shadow;
}

.system-icon:hover{
		box-shadow: 0 0 2px 2px var(--verde-escuro);
}

.system-icon img{
    height: 2rem;
    background-color: var(--fundo-icon);
    padding: 1rem;
    border-radius: 1rem;
}

footer{
    background-color: var(--verde-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 4rem;
    color: var(--branco);
    font-weight: 300;
}

footer img{
    width: 2rem;
}


@media (max-width: 1024px) {
    #texto{
        padding-bottom: 2.5rem;
    }

    #figure{
        width: 40vw;
        padding-bottom: 0.5rem;
    }
    
    #cuidar-image{
        display: none;
    }
}

@media (max-width: 767px){
    #top-bar img{
        width: 20vw;
        max-width: 9rem;
    }

    #texto{
        text-align: center;
    }

    #texto p {
        border: none;
    }

    #imagens{
        display: none;
    }

    #systems{
        justify-content: center;
    }

    footer{
        font-size: 0.8rem;
    }

    footer img{
        width: 2rem;
    }
}